*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}


/* Utility Classes */
.img-responsive{
    max-width: 100%;
}

.hero_img{
    background-image: url('images/heroimage.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-wrapper{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero-wrapper h1{
    font-size: 2.4rem;
    text-align: center;
}

.hero-wrapper span{
    margin-left: 5rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: .5rem;
}

.form_code .post_code{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    padding: .6rem;
    border: none;
    outline: none;
}

.form_code{
    text-align: center;
}

.form_code .btn{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* display: block; */
    background-color: #00bab1;
    color: white;
    padding: 0.6rem;
    margin-top: 1rem ;
    border:none;
    border-radius: .5rem;
    cursor: pointer;

}




/* PRODUCT SECTION  */

.product{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

}

.product_list_item{
    float: left;
    width: 32%;
    margin-left: .5rem;
}

.product_list_item:first-of-type{
    margin-left: 0;
}


/* MEDIA QUERY */

@media screen and (max-width:700px)
{
    .product_list_item{
        width: 100%;
        float:none;
    }
}